.nav-link :hover{
	background-color: greenyellow;
}
/*slider*/
.carousel-item{
  height: 500px;
}
carousel-item img {
  margin-top: -120px;
}
.carousel-item .display-4{
  margin-top: -440;
}
p{
  color: whitesmoke;
  font-family: sans-serif;
}
.carousel-item hr{
  border-color: #f05f40;
  width:70px;
  border-width: 3px;
}
.carousel-item .btn{
  background-color: #f05f40;
  border: none;
  border-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 40px;
}
.nav-link:hover{
	background-color: gray;
}
.display-4{
	font-weight: bold;
}
.card-body-icon{
	position: absolute;
	z-index: 0;
	top: 20px;
	right: 4px;
	opacity: 4px;
	font-size: 90px;
}
